# SPDX-License-Identifier: Apache-2.0

menuconfig EXTERNAL_MATH
	bool "External math functions"
	help
	  Enable external math functions configuration.

if EXTERNAL_MATH

config FAST_ATAN
	bool "Enable fast atan and atan2 functions"
	default y
	help
	  Enable fast atan and atan2 functions.

endif # EXTERNAL_MATH
