# SPDX-License-Identifier: Apache-2.0

DT_COMPAT_ST_STM32_DAC_DMA := st,stm32-dac-dma

menuconfig EXTERNAL_DAC
	bool "External DAC drivers"
	help
	  Enable external DAC (Digital to Analog Converter) driver configuration.

if EXTERNAL_DAC

config STM32_DAC_DMA
	bool "Enable stm32 dac driver with dma and external trigger"
	default $(dt_compat_enabled,$(DT_COMPAT_ST_STM32_DAC_DMA))
	depends on DMA
	help
	  Enable stm32 dac driver with dma and external trigger.

config STM32_DAC_BUFFER_SIZE
	int "stm32 dac buffer size"
	default 8192
	depends on STM32_DAC_DMA
	help
	  stm32 dac driver buffer size.

config DAC_CONTINUOUS_API
	bool "Enable dac countinuous api"
	default y
	depends on STM32_DAC_DMA
	help
	  Enable dac countinuous api.

endif # EXTERNAL_DAC
