# SPDX-License-Identifier: Apache-2.0

menuconfig EXTERNAL_APPS
	bool "External Applications"
	help
	  Enable external applications configuration.

if EXTERNAL_APPS

config ADC_UART
	bool "Enable adc to uart app"
	help
	  Enable adc to uart app. This is used with the async mode,
	  and every half buffer the samples will be sent over uart.

endif # EXTERNAL_APPS
